*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Monda', sans-serif;
    background-color: #111111;
}

html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: .8em;
}

@media (max-width: 600px){
    .imagem{
       display: none;
    }
    .fundo{
        margin-bottom: 30px;
    }
   
}

/*INÍCIO CABECALHO------------------------------*/

.cabecalho{
    background-color: #111111;
}
.cabecalho ul{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 5px;
}
.cabecalho ul li{
    margin: 10px;
}
.cabecalho ul li a{
    color: #fdd64b;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
}

.cabecalho ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #b3b5b7;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.cabecalho ul li:hover::after{
    width: 100%;
}
/*INÍCIO BODY-------------------*/
#titleProjetos{
    color: #e9a107;
    text-align: center;
}

.container{
    background-color: #111111;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 50px;

    
}

.fundo{
    color: #acafb2;
    max-width: 450px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#1D1D1D,#1D1D1D);
    box-shadow: 1px 1px 3px #898a8b;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    
    
}

.fundo:hover{
    
    box-shadow: 1px 1px 5px #e7b624;
    transition: 0.5s;
}
.imagem img{
    width: 100%;
    flex-grow: 1;
    
}
.descricao{
   flex-grow: 2;
}

.descricao h3{
    color: #d1d5d8;
}

.descricao a{
    text-decoration: none;
}

.descricao a:link{
    color: #e6e2e2;
}
.descricao a:visited{
    color: #504e4e;
}
.descricao a:hover{
    color: #e8cf60;
}
.descricao a:active{
    color: #504e4e;
}



/*INÍCIO FOOTER-------------------*/

.rodape{
    background-color: #111111;
    padding: 20px;
}
.rodape p{
    text-align: center;
    font-weight: 800;
    color: #201736;

}