*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Monda', sans-serif;
}

html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: .8em;
}

@media (max-width: 600px){
    .imagem{
       display: none;
    }
}

/*INÍCIO CABECALHO------------------------------*/

.cabecalho{
    background-color: #fdd64b;
}
.cabecalho ul{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 5px;
}
.cabecalho ul li{
    margin: 10px;
}
.cabecalho ul li a{
    color: #222e50;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
}
/*
.cabecalho ul li a:hover{
    border-bottom: 2px solid #DF2935;
  }
*/
.cabecalho ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DF2935;
    /*background: #941b0c;*/
    
    display: block;
    margin:auto;
    transition: 0.5s;
}
.cabecalho ul li:hover::after{
    width: 100%;
}
/*INÍCIO BODY-------------------*/

.container{
    background-color: #ECF0F3;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.fundo{
    max-width: 700px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#dfe4e9,#fefefe);
    box-shadow: 8px 8px 8px #dee4ec;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 30px;
    gap:30px
    
    
}

.fundo:hover{
    background-image: linear-gradient(to bottom right,#fefefe,#dfe4e9);    
    box-shadow: 1px 1px 5px #b6b3b3;
    transition: 0.5s;
}
.imagem img{
    width: 100%;
    flex-grow: 1;
}
.descricao{
   flex-grow: 2;
}

/*INÍCIO FOOTER-------------------*/

.rodape{
    background-color: #fdd64b;
    padding: 20px;
}
.rodape p{
    text-align: center;
    font-weight: 800;
    color: #201736;

}