*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Monda', sans-serif;
    background-color: #232222;
}

html {
  scroll-behavior: smooth;
}
 
:target {
  scroll-margin-top: .8em;
}

@media screen and (min-width: 731px){
    .icon{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .nav-link-mobile{
        display: none;
    }
}
@media screen and (max-width: 730px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 0.5rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .botaoTopo img{
        width: 10%;
     }
     .imagem img{
        display: none;
     }
}

/*INÍCIO CABECALHO------------------------------*/


header{
    background-color: #2e2e2e;
}
/*barra navegação------*/
.nav-bar{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.nav-list ul{
    display: flex; 
}
.nav-list ul li{
    margin: 0 10px;
    list-style-type: none;
    padding: 7.5px 0px 7.5px 0px;
}

.nav-list ul li a, .mobile-menu ul li a{
    text-decoration: none;
    color: #fdd64b;
}

.nav-list ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #b3b5b7;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-list ul li:hover::after{
    width: 100%;
}

/*menu mobile---------*/
.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu{
    text-align: center;
    display: none;
}



/*INÍCIO BODY-------------------*/
#titleProjetos{
    color: #e9a107;
    text-align: center;
    margin-top: 20px;
}

.container{
    background-color: #232222;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 50px;

    
}

.fundo{
    color: #acafb2;
    max-width: 450px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    background-image: linear-gradient(to bottom right,#2e2e2e,#2e2e2e);
    box-shadow: 1px 1px 3px #898a8b;
    padding: 20px;
    border-radius: 15px;
    gap: 20px;
    
    
}

.fundo:hover{
    
    box-shadow: 1px 1px 5px #e7b624;
    transition: 0.5s;
}
.imagem img{
    width: 100%;
    flex-grow: 1;
    
}
.descricao{
   flex-grow: 2;
}

.descricao h3{
    color: #e0e4e7;
}

.descricao a{
    text-decoration: none;
}

.descricao a:link{
    color: #e6e2e2;
}
.descricao a:visited{
    color: #767272;
}
.descricao a:hover{
    color: #e8cf60;
}
.descricao a:active{
    color: #767272;
}

.botaoTopo{
    background-color: #232222;
    text-align: right;
    padding-right: 50px;
    
}

/*INÍCIO FOOTER-------------------*/

.rodape{
    background-color: #232222;
    padding: 20px;
}
.rodape p{
    text-align: center;
    font-weight: 800;
    color: #201736;

}