*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Monda', sans-serif;
}
@media (max-width: 600px){
    .post-img{
        margin-left: 17px;
        margin-top: 30px;
    }
    .post-desc{
        padding: 15px;
    }
    .formacaoItem,.empresasItem{
        width: 250px;
    }
   
}
/*
@media (min-width: 601) and (max-width: 768px){
}
@media (min-width: 769) and (max-width: 992){
}
@media (min-width: 993){
}
*/
html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: .8em;
}
.titulos{
    text-align: center;
}
/*INÍCIO CABECALHO------------------------------*/
.cabecalho{
    background-color: #fdd64b;
}
.cabecalho ul{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    padding: 5px;
}
.cabecalho ul li{
    margin: 10px;
}
.cabecalho ul li a{
    color: #222e50;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Monda', sans-serif;
}
.cabecalho ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #DF2935;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.cabecalho ul li:hover::after{
    width: 100%;
}
/*INÍCIO SOBRE----------------------------------------------*/


.post-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
    background-color: #222e50;
}
.post-list .esquerda,.post-list .direita{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.post-list h1{
    color: #e76c2e;
}
.post-list h2,h3,h4{
    color: #4e5053;
}
.post-desc{
    max-width: 600px;
}
.post-desc h1{
    padding: 10px;
}
.post-desc h2{
    margin-left: 5px;
    color: #b3b5b7;
}
.post-desc h3,.tituloAcademia{
    margin-left: 7px;
}
.post-desc p{
    color: #b8c5d3;
    margin-left: 25px;
}
/*INÍCIO FORMAÇÃO PROFISSIONAL-----------*/
.formacaoPro{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #e1e2ef;
    
    /*min-height: 500px;*/
    gap: 30px;
    padding: 50px;
}
.formacaoItem{
   /* max-width: 350px;*/
    height: 100%;
    padding: 20px;
    background-color: #d6d8f2;
    box-shadow: 1px 1px 5px #c4c4c6;
    
    border-radius: 15px;
    font-size: 14px;
    
}

.formacaoItem:nth-child(1),.formacaoItem:nth-child(2){
    margin-bottom: 30px;
}
.formacaoItem h2{
    color: #e57a44;
}
.formacaoItem p{
    color: #4e5053;
}
/*INÍCIO EXPERIÊNCIAS---------------------*/
.expProTitulo{
    text-align: center;
    padding-top: 30px;
}
.expProTitulo h2{
    color: #e57a44;
}
.expProfissional{
    background-color: #d6d8f2;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.empresas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    gap: 30px;
    padding: 30px 0 30px 0;
    justify-content: center;
}
.empresasItem{
    max-width: 400px;
    /*max-height: 500px;*/
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: #e1e2ef;
    box-shadow: 1px 1px 5px #c1c4f0;
    padding: 30px;
    border-radius: 15px;
}

.empresasItem:nth-child(1){
    margin-bottom: 30px;
}
.empresasItem h2{
    color: #4c4e4e;
}
.empresasItem p{
    color: #4e5053;
}
/*INÍCIO TECNOLOGIAS---------------------------------------------------*/
.contTecTitle{
    color: #e76c2e;
    margin-bottom: 30px;
}

.lingEFerramentas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.item3{
    box-shadow: 8px 8px 8px #dee4ec;
    background-image: linear-gradient(to bottom right,#dfe4e9,#fefefe);    
    width: 160px;
    height: 50px;
    border-radius: 100px;
    padding: 10px;
    margin-top: 5px;   
    display: flex;    
    align-items: center;
    color: #3c3e41;
}
.imgTecno{
   text-align: center;
}
.descTecno{
    margin-right: 30px;
    text-align: start;
}
.tecnologias .item3 img{
    width: 30%;
}
.tecnologias{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #e1e2ef;
    min-height: 300px;
}
.tecnologias .title{
    padding-bottom: 30px;
}
.item3:hover{
    background-image: linear-gradient(to bottom right,#DF2935,#DF2935);    
    color: white;
    box-shadow: 1px 1px 5px #8b4449;
    transition: 0.5s;
}
.botaoTopo{
    background-color: #e1e2ef;
    text-align: right;
    padding-right: 50px;
}
.habilidades .title{
    padding-bottom: 30px;
}
.botaoTopo img:hover{
    background-color: #ab89c1;
    border-radius: 100%;
    transition: 0.5s;
}
/*INÍCIO FOOTER-------------------------------------------------*/
.rodape{
    background-color: #fdd64b;   
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
}
.rodape p{
    text-align: center;
    font-weight: 800;
    color: #5f6063;
}
#link,#git{
    text-decoration: none;
    color: #5f6063;
}
#link,#git a:visited,a:hover,a:active{
    color: #5f6063;
}
