*{
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
    font-family: 'Monda', sans-serif;
}

@media screen and (min-width: 731px){
    .icon{
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .nav-link-mobile{
        display: none;
    }
}

@media screen and (max-width: 730px){
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .mobile-menu{
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 0.5rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    /*---------*/
    .post-img{
        margin-left: 5px;
        margin-top: 30px;
    }
    .post-desc{
        padding: 5px;
    }
    .formacaoItem,.empresasItem{
        width: 250px;
    }
    .post-list .direita .cv{
        margin-left: 26%;
        margin-bottom: 20px;
    }
    #imgItem1,#imgItem2,#imgItem3{
        display: none;
    }
    
    .lingEFerramentas .item3{
       margin-top: 30px;
       margin-right: 8px; 
    }
    
    .formulario #nome,.formulario #email,.formulario #assunto{
        min-width: 300px;
    }

    .formulario #mensagem{
        width: 300px;
        height: 200px;
        color: #4b4c4e;
        font-size:large;
    } 
    .post-list .direita .cv{
        width: 140px;
        height: 22px;
        padding: 0 0 6px 8px;
        margin-left: 110px;
    }
    .direita .cv a{
        margin-left: 20px;
    }

    .botaoTopo img{
       width: 10%;
    }

    
}

html {
  scroll-behavior: smooth;
}
:target {
  scroll-margin-top: .8em;
  
}
.titulos{
    text-align: center;
}

/*INÍCIO CABECALHO------------------------------*/

header{
    background-color: #2e2e2e;
}

/*barra navegação------*/
.nav-bar{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.nav-list ul{
    display: flex; 
}
.nav-list ul li{
    margin: 0 10px;
    list-style-type: none;
    padding: 7.5px 0px 7.5px 0px;
}

.nav-list ul li a, .mobile-menu ul li a{
    text-decoration: none;
    color: #fdd64b;
}

.nav-list ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #b3b5b7;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-list ul li:hover::after{
    width: 100%;
}


.mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu{
    text-align: center;
    
}

/*INÍCIO SOBRE----------------------------------------------*/
.post-list{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
    padding: 2%;
    justify-content: center;
    background-color: #232222;
}
.post-list .esquerda,.post-list .direita{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.post-list h1{
    color: #eeab1a;
}
.post-list h2,h3,h4{
    color: #4e5053;
}
.post-desc{
    max-width: 600px;
}
.post-desc h1{
    padding: 10px;
}
.post-desc h2{
    margin-left: 5px;
    color: #b3b5b7;
}
.post-desc h3,.tituloAcademia{
    margin-left: 7px;
}
.post-desc p{
    color: #b8c5d3;
    margin-left: 25px;
}
.cv{
    width: 140px;
    height: 22px;
    padding: 0 0 6px 8px;
    border-radius: 6px;
    color: #b8c5d3;
    /*border: 1px solid #5f6063;*/
    box-shadow: 1px 1px 5px #c4c4c6;
}
.cv a{
    text-decoration: none;
    margin-left: 18px;
    color: #b8c5d3;
}

.cv a:link,a:visited{
    color: #b8c5d3;
}

.cv:hover{
    transition: 0.5s;
    box-shadow: 1px 1px 5px #e7b624;
}
/*INÍCIO FORMAÇÃO PROFISSIONAL-----------*/
.formacaoPro{
    display:flex ;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #232222;
    gap: 30px;
    padding: 50px;
}
.formacaoItem{
    position: relative;
    max-width: 350px;
    height: 100%;
    padding: 20px;
    background-color: #2e2e2e;
    box-shadow: 1px 1px 5px #c4c4c6;
    border-radius: 15px;
    font-size: 14px;
}
.formacaoItem:hover{
    box-shadow: 1px 1px 5px #e7b624;
    transition: 0.5s;
}

.formacaoItem:nth-child(1),.formacaoItem:nth-child(2){
    margin-bottom: 30px;
}
.formacaoItem h2{
    color: #eeab1a;
}
#tituloItem1{
    padding-left: 10px;
    text-align: center;
}
#imgItem1{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 280px;
}
#tituloItem2{
    padding-left: 55px;
}
#imgItem2{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 325px;
}
#tituloItem3{
    padding-left: 70px;
}
#imgItem3{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 115px;
}
.formacaoItem p{
    color: #afb2b7;
    font-size: medium;
}

/*INÍCIO EXPERIÊNCIAS---------------------*/
.expProTitulo{
    text-align: center;
    padding-top: 30px;
}
.expProTitulo h2{
    color: #eeab1a;
}
.expProfissional{
    background-color: #232222;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.empresas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    gap: 30px;
    padding: 30px 0 30px 0;
    justify-content: center;
}
.empresasItem{
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    background-color: #2e2e2e;
    box-shadow: 1px 1px 5px #c1c4f0;
    padding: 30px;
    border-radius: 15px;
}
.empresasItem:hover{
    box-shadow: 1px 1px 5px #e7b624;
    transition: 0.5s;
}
.empresasItem:nth-child(1){
    margin-bottom: 30px;
}
.empresasItem h2{
    color: #ced7d7;
}
.empresasItem p{
    
    /*color: #98A6A6;*/
    color: #afb2b7;
}
/*INÍCIO TECNOLOGIAS---------------------------------------------------*/
.contTecTitle{
    color: #eeab1a;
    margin-bottom: 30px;
}
.lingEFerramentas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.item3{
    box-shadow: 1px 1px 5px #c1c4f0;
    background-image: linear-gradient(to bottom right,#2e2e2e,#2e2e2e);    
    width: 160px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;   
    display: flex;    
    align-items: center;
    color: #e2e6eb;
}
.imgTecno{
   text-align: center;
}
.descTecno{
    margin-right: 30px;
    text-align: start;
}
.tecnologias .item3 img{
    width: 30%;
}
.tecnologias{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #232222;
    min-height: 300px;
}
.tecnologias .title{
    padding-bottom: 30px;
}
.item3:hover{
    box-shadow: 1px 1px 5px #e9a107;
    transition: 0.5s;
}
.botaoTopo{
    background-color: #232222;
    text-align: right;
    padding-right: 50px;
    
}
.habilidades .title{
    padding-bottom: 30px;
}


/*FORMULÁRIO CONTATO--------------->*/
.containerContato{
    background-color: #232222;
}
.formulario{
    text-align: center;   
}

.form{
    border-radius: 10px;
    padding: 10px;
    border-style:hidden;
    box-shadow: 1px 1px 1px #c1c4f0;
    
}
textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#nome, #email, #assunto{
    min-width: 400px;
    font-size: medium;
    color:#545556;
}
#mensagem{
    width: 400px;
    height: 200px;
    font-size:large;
    color:#545556;
}
.formCampos{
    padding: 10px;
}

.formCampos h3{
    color: #afb2b7;
}

.formulario h2{
    color: #e9a107;
}

#btnEnviar{
    padding:10px;
    font-weight: 600;
    border-radius: 5px;
    border-style: hidden;
    color: #2c2b2b;
    background-color: #fcfcfc;
    width: 100px;
    
}
#btnEnviar:hover{
    background-color: #484646;
    color: #e9a107;
    transition: 0.5s;
    
}




/*INÍCIO FOOTER-------------------------------------------------*/
.rodape{
    background-color: #2e2e2e;   
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
}
.rodape p{
    text-align: center;
    font-weight: 800;
    color: #b3b5b7;
}
#link,#git{
    text-decoration: none;
    color: #b3b5b7;
}
#link,#git a:visited,a:hover,a:active{
    color: #b3b5b7;
}
